<h2 mat-dialog-title>Add your shop details :)</h2>

<div mat-dialog-content>
  <form [formGroup]="shopForm">
    <mat-form-field appearance="outline">
      <mat-label>Shop Name</mat-label>
      <input formControlName="shopName" matInput placeholder="Enter your shop name">
      <mat-icon matSuffix>person_pin</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Shop Address</mat-label>
      <input formControlName="shopAddress" matInput placeholder="Enter your exact shop address">
      <mat-icon matSuffix>place</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Shop Image URL</mat-label>
      <input formControlName="shopImage" matInput placeholder="Enter image URL for your shop">
      <mat-icon matSuffix>insert_photo</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mobile Number</mat-label>
      <input formControlName="shopNumber" matInput type="number" placeholder="Enter Mobile/Telephone number">
      <mat-icon matSuffix>contact_phone</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Shop Timings</mat-label>
      <input formControlName="shopTimings" matInput placeholder="Enter shop opening-closing time">
      <mat-icon matSuffix>access_time</mat-icon>
      <mat-hint>For Ex. 9:00 AM-8:30 PM</mat-hint>
    </mat-form-field><br><br>

    <mat-form-field class="example-chip-list" appearance="fill">
      <mat-label>Shop Category/Type</mat-label>
      <mat-chip-list #chipList aria-label="Category selection" formControlName="shopCategory">
        <mat-chip *ngFor="let category of categories.value" (removed)="remove(category)">
          {{category}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="New category..."
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-icon matSuffix>select_all</mat-icon>
      <mat-hint>Type at least one category For Ex. Apparel, Grocery</mat-hint>
    </mat-form-field><br><br>

    <mat-form-field appearance="outline">
      <mat-label>Shop Details/Description</mat-label>
      <textarea formControlName="shopDescription" matInput placeholder="Tell us more about your beautiful shop :)"></textarea>
    </mat-form-field>
  </form>
</div>

<div>
  <div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button style="margin-left:10px" mat-raised-button color="primary" (click)="addShop()">{{actionBtn}}</button>
</div>
