
<div class="header-start-section">
  <div class="header-section">
    <div class="header-headline">
      <h1 class="mat-h1">Chukkhuwala Shops</h1>
      <h2 class="mat-h2">List of all the shops around Chukkhuwala, Indra Colony - Dehradun, Uttarakhand-248001</h2>
    </div>

    <div *ngIf="afAuth.authState | async as user">
        <h3 style="font-size:30px; color:white;"> Welcome! {{user.displayName}}</h3>
    </div>
    <div *ngIf="(afAuth.authState | async) === null">
      <h3 style="font-size:30px; color:white;"> Welcome!</h3>
  </div>
  </div>
</div>



<div class="filter-search">
  <mat-card style="background: #3f51b5; color:white">Search a shop</mat-card>
</div>

<div class="filter-fx" style="margin-bottom:50px;">
  <mat-form-field style="margin-left:40px;" appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Joshi Store" #input>
  </mat-form-field>
</div>

<div >
  <mat-card *ngFor="let data of obs | async" class="example-card" >
      <mat-card-header>
      <img [src]="data.shopImage" mat-card-avatar >
      <mat-card-title>{{data.shopName}}</mat-card-title>
      <mat-card-subtitle>{{data.shopAddress}}</mat-card-subtitle>
      </mat-card-header>
  
      <img mat-card-image [src]="data.shopImage" alt="photo_of_a_shop">
  
      <mat-card-content>

      <h2>Shop details :</h2>
      <div style="font-size:16px;">
        <div class="mat-list-fix"><p><b>Phone Number</b> : {{data.shopNumber}}</p></div>
        <mat-divider ></mat-divider>
        <div class="mat-list-fix"><p><b>Timings</b> : {{data.shopTimings}}</p></div>
        <mat-divider></mat-divider>
        <div class="mat-list-fix"><p><b>Category</b> : {{data.shopCategory}}</p></div>
        <mat-divider></mat-divider>
        <div class="mat-list-fix"><p><b>About Shop</b> : {{data.shopDescription}}</p></div>
      </div>
      </mat-card-content>

      <div *ngIf="afAuth.authState | async as user">
        <button mat-button color="primary" (click)="editShop(data)">
        <mat-icon>edit</mat-icon>
        </button>
    
        <button mat-button color="warn" (click)="deleteShop(data.id)">
        <mat-icon>delete</mat-icon>
        </button>
      </div>
  </mat-card>
</div>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
